@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.capa{
    width:100%;
    height:100vh;
    line-height: 5vh;
}

html {
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}
.buttonpixel{
    position: relative;
    color: white;
    width: 180px;
    height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    margin: 20px;
    transition: 0.5s;
}
.buttonpixel:hover{
    background: #ec0b36 url(/assets/img/pixel.png);
    background-size: 180px;
    transition-delay: 0.8s;
    animation: animate 0.8s steps(8) forwards;
}

@keyframes animate {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -480px;
    }
}
body{
    
    background-image: url("assets/img/GIFCity1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    }

/*header*/
.navbar-toggler{
    background-color: violet;
}

/*Primera vista de home*/
    /*Efecto de escritura en nombre*/
    .spanWrite{
        display: block;
        font-family: monospace;
        white-space: nowrap;
        border-right: 4px solid;
        width: 21ch;
        animation: typing 2s steps(21), blink .5s infinite step-end alternate;
        overflow: hidden;
    }
    @keyframes typing{
        from{ width: 0;}
    }
    @keyframes blink{
        50% {background-color: transparent}
    }

    .card{
        font-family: monospace;
        color: white;
    }

    .buttonsSpecial{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: white;
        width: 180px;
        height: 60px;
        border-radius: 3px;
        letter-spacing: -1px;
        user-select: none;
        background-color: deeppink;
        transition: all .195s ease-in-out;
        cursor: pointer;
        margin: 4%;
    }

    .buttonsSpecial:hover {
        border: 2px solid violet;
        box-shadow: violet 0px 0px 12px 1px inset,
        violet 0px 0px 12px 1px;
        border-radius: 15px;
        color: violet;
    }
    .titles{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        margin: 60px 0 60px 0;
    }

    /*de las tecnologias*/
    .logos{
        width: fit-content;
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex-direction: row;
        list-style: none;
        border-radius: 25px;
        border: 0.1px solid #099fff;
        background-color: #181818;
        box-shadow: 0 4px 8px 0 #00ffff, 0 6px 20px 0 rgba(0, 0, 0, 19);
    }
    .logo{
        width: 70px;
        margin: 20px;
        cursor: pointer;
    }
    .logo:after{
        display: block;
    }
    .logo:hover:after{
        transform: scaleX(1);
    }

/*vista timeline*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
    .timeline {
        width: 80%;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        position: relative;
    }
    
    .timeline ul {
        list-style: none;
    }
    .timeline ul li {
        padding: 20px;
        background-color: #1e1f22;
        color: white;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .timeline ul li:last-child {
        margin-bottom: 0;
    }
    .timeline-content h1 {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .timeline-content p {
        font-size: 16px;
        line-height: 30px;
        font-weight: 300;
    }
    .timeline-content .date {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }
    @media only screen and (min-width: 768px) {
        .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: gray;
        }
        .timeline ul li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
        }
        .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
        }
        .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
        }
        .timeline ul li::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: gray;
        top: 0px;
        }
        .timeline ul li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30px;
        }
        .timeline ul li:nth-child(even)::before {
        transform: translate(-50%, -50%);
        left: -30px;
        }
        .timeline-content .date {
        position: absolute;
        top: -30px;
        }
        .timeline ul li:hover::before {
        background-color: aqua;
        }
    }

/*Responsiv*/

/*celular*/
@media screen and (max-width: 480px) {
    
}
@media screen and (min-width: 481px) and  (max-width: 1023px){
    
}